@{
    ViewData["Title"] = "Confirmar a exclusão do Contato";
}

<div class="text-center">
    <h3>Deseja excluir o contato (Luis)?</h3>
    <br />
    <a class="btn btn-primary" role="button">SIM</a>
    <a class="btn btn-danger" role="button">NÃO</a>
</div>

